.trigger {
    padding: .6em;
    border-color: transparent;
    outline: none;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;
    border: transparent solid 5px;
    box-sizing: border-box;
    filter: drop-shadow(.2em .2em .2em black);
}

.trigger:hover {
    background: hsl(207, 54%, 29%);
    transition: .2s ease-in-out;
    color: white;
    border-color: transparent;
}

.trigger:not(:hover) {
    transition: .2s ease-in-out;
}

.trigger:focus {
    border-color: hsl(207, 54%, 69%);
}

.content {
    background: white;
    padding: .3em;
    border: solid 1px black;
    border-radius: 5px;
    filter: drop-shadow(.2em .2em .2em black);
}

.item {
    cursor: pointer;
    padding: .2em;
}

.item:focus {
    background: steelblue;
    border-radius: 5px;
    border-color: transparent;
}

.right {
    float: right;
    margin-top: .25em;
    transform: scale(.7);
}